@page
@model ProvaGuilherme.Pages.ResultadoEnderecoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResultadoEndereco</title>
</head>
<body>
    Pessoa:     @Model.Result.Pessoa<br />
    Estado:     @Model.Result.Estado<br />
    Cidade:     @Model.Result.Cidade<br />
    CEP:        @Model.Result.CEP<br />
    Rua:        @Model.Result.Rua<br />
    Bairro:     @Model.Result.Bairro<br />
    Numero:     @Model.Result.Numero<br />
    Complemento:@Model.Result.Complemento<br />
</body>
</html>
