@page
@model ProvaGuilherme.Pages.ResultadoPessoaModel
@{
    ViewData["Title"] = "ResultadoPessoa";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>ResultadoPessoa</h2>

@foreach(var item in CadastroPessoaModel.ListaPessoas)
{
    <label>Nome: @item.Nome</label>
    <label>Sobrenome: @item.Sobrenome</label>
    <label>Email: @item.Email</label>
    <label>Telefone: @item.Telefone</label>
    <label>NomePai: @item.NomePai</label>
    <label>NomeMae: @item.NomeMae</label>
    <label>CPF: @item.CPF</label>
    <label>RG: @item.RG</label>
    <label>EstadoCivil: @item.EstadoCivil</label>

}

